<div class="todos">
  <form (submit)="addTodo()">
    <input
    type="text"
    name="inputTodo"
    placeholder="Enter todo ..."
    class="todo-input"
    [(ngModel)]="inputTodo"
    required
    />
    <input type="submit" value="Add ToDo" class="todo-submit">
  </form>
  <div *ngFor="let todo of todos; let i = index;" class="todo {{ (todo.completed ? 'done' : '') }}">
    <div class="id">{{ i }}</div>
    <div class="content" *ngIf="!editMode || i !== editedTodoIndex" (click)="toggleDone(i)">
      {{ todo.content }}
    </div>
    <input
      *ngIf="editMode && i === editedTodoIndex"
      type="text"
      class="todo-input"
      [(ngModel)]="inputTodo"
      required
    />
    <button *ngIf="!editMode || i !== editedTodoIndex" class="edit" (click)="editTodo(i)">Edit</button>
    <button *ngIf="editMode && i === editedTodoIndex" class="save" (click)="addTodo()">Save</button>
    <button class="delete" (click)="deleteTodo(i)">Remove</button>
  </div>

</div>
